<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: Meta">...</th:block>
    <title>Homepage</title>

    <style>
        body, html {
            background-image: url("https://res.cloudinary.com/dv2nrlkn5/image/upload/v1564425829/4944849-macro-of-blank-cork-message-board-_nfubqq.jpg");
            position: fixed;
        }
    </style>
</head>
<body>

<th:block th:replace="base :: nav">...</th:block>

<br/><br/>
<div th:each="message : ${messages}">

    <div class="container">
    <div class="jumbotron" style="size: inherit">
        <h3 style="float: left">[[${message.title}]]</h3>
        <br/><br/>
        <p>[[${message.content}]]</p>
        <br/>
        <p><b>Posted By:</b> [[${message.user.username}]]       <b>Date Posted:</b> [[${message.date}]] </p>


        <a class="btn btn-primary" role="button" th:href="@{/detail/{id} (id=${message.id})}">Detail</a>

        <div th:if="${user_id == message.user.id}">
        <a class="btn btn-primary" role="button" th:href="@{/update/{id} (id=${message.id})}">Update</a>
        </div>
        <div sec:authorize="hasAuthority('ADMIN')">
        <a class="btn btn-danger" role="button" th:href="@{/delete/{id} (id=${message.id})}">Delete</a>
        </div>
    </div>
    </div>
</div>

<th:block th:replace="base :: bootstrap">...</th:block>
</body>


</html>