<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="base :: Meta">...</th:block>
    <title>Title</title>
</head>
<body>
<th:block th:replace="base :: nav">...</th:block>
<h1>Login Page</h1>
<div th:if="${param.error}">
    invalid username or password
</div>

<div th:if="${param.logout}">
    You have been logged out
</div>

<form th:action="@{/login}" method="post">
    <div><label>User Name:  <input type="text" name="username"/></label></div>

    <div><label>Password:  <input type="password" name="password"/></label></div>

    <div> <input type="submit" value="Sign in"/></div>
</form>

<th:block th:replace="base :: bootstrap">...</th:block>
</body>
</html>